.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url("Masthead-drone.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about-us {
  padding-bottom: 0 !important;
  .section-header {
    p {
      text-align: center;
      margin: auto;
      margin-top: 15px;
      font-size: 15px;
      color: #556877;
      width: 50%;
    }
  }

  .about-extra {
    .row {
      padding-bottom: 60px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    h4 {
      font-weight: 600;
      font-size: 24px !important;
      margin: 0 0 20px 0;
    }

    p {
      margin: 0 0 25px 0;
    }
  }
}

.services {
  background-color: #f8f9fa !important;
}

.call-to-action {
  background: linear-gradient(180deg, #3300ff 0%, #7000ff 100%);
}
