.navbar-nav {
  color: #fff;
  font-family: $font1;
  font-weight: 700 !important;
  font-size: 13px;
  text-transform: uppercase;
}

.navbar-brand {
  font-family: $font2;

  img {
    margin-right: 5px;
  }
}

.nav-link {
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
}
