.navbar-brand {
  font-family: "Bungee", cursive;
}

.navbar-brand {
  font-family: $font2;

  img {
    margin-right: 5px;
  }
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
}
