:root {
  --primary: #2dad67 !important;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote {
  margin: 0;
  padding: 0;
  object-fit: cover;
}

img {
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font1 !important;
}

p {
  font-family: $font3 !important;
}

// bootstrap overide
.bg-dark {
  background-color: #2f303a !important;
}

.navbar-brand {
  font-family: $font2;

  img {
    margin-right: 5px;
  }
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
}

//normal overide such as wrappers
